/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0B0C10;
  color: #C5C6C7;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

.welcome {
  margin-bottom: 2%;
  text-align: center;
}

a {
  color: #66FCF1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1F2833;
}

.navbar-brand img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-links a {
  margin-left: 20px;
}

/* Hamburger Menu Styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #66FCF1;
  margin: 3px 0;
  transition: all 0.3s ease;
}

/*This is the Navbar menu*/
.menu-links {
  display: none;
  background: #C5C6C7;
  flex-direction: column;
  margin-left: auto;
  position: relative;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* Define animation for sliding */
  animation: slideIn 0.3s forwards ease-in-out;
}

.menu-links a {
  text-decoration: none;
  color: #404040;
}

/* Delay text rendering until animation starts */
.item {
  height: 3vh;
  margin-top: 2vh;
  border-bottom: 2px solid #A0A0A0;
  padding-bottom: 1.25vh;
  animation: fadeIn 0.3s forwards ease-in-out;
}

/* Ensure last item has no border */
.item:last-child {
  border-bottom: none;
}

/* Keyframes for sliding animation */
@keyframes slideIn {
  from {
    height: 0;
  }
  to {
    height: 20vh; /* Change to desired final height */
  }
}


/* Keyframes for sliding out animation */
@keyframes slideOut {
  from {
    height: 20vh; /* Change to desired initial height */
  }
  to {
    height: 0;
  }
}


/* Keyframes for fading in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1; /* Fade in the text when animation starts */
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0; /* Fade in the text when animation starts */
  }
}

.menu-links.active {
  animation: slideOut 0.3s forwards ease-in-out, ;
}

.menu-links.armed {
  animation: fadeOut 0.2s forwards ease;
}

/* Main Content Styles */
.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  grid-gap: 20px;
}

.project {
  border-radius: 5px;
  background-color: #1F2833;
  padding: 20px;
  display: flex;
  border: 2px solid #45A29E;
  flex-direction: column; /* Change flex direction to column */
}

.project:last-child {
  grid-column: 1 / -1;
}

.project:last-child img{
  height: 300px;
  width: 30%;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  min-width: 300px;
}

.project .image-container {
  display: flex;
  justify-content: center;
}

.project .image-container a {
  margin: 0 10px;
}

.project h2 {
  color: #66FCF1;
  margin: 0;
  height: 46px;
}

.project-description {
  margin-bottom: 10px;
}

.project-description img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.project-description p {
  margin-bottom: 20px; /* Remove margin from the paragraph */
}


.card-footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items to center horizontally */
  background-color: #1F2833;
  color: #C5C6C7;
}

.project-buttons {
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  gap: 10px; /* Add some gap between buttons */
  margin-top: 15px;
}

.project-buttons a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #66FCF1;
  color: #66FCF1;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.project-buttons a:hover {
  background-color: #66FCF1;
  color: #0B0C10;
}

.profile {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__portrait {
  float: left;
  width: 32%;
  margin-right: 40px;
  border-radius: 50%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  border: 2px solid #66FCF1;
  padding: 2%;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.check-link {
  margin-top: 10%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  max-width: 60%;
}

#about img {
  border-radius: 5%;
}

.about-pic {
  width: 400px;
  max-width: 60%;
  height: auto;
  margin: 0 auto;
}

#contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10%;
  margin-bottom: 5%;
}

.contact-form {
  margin: 0 auto;
  margin-top: 10%;
  padding: 20px;
  border: 2px solid #66FCF1;
  border-radius: 5px;
  max-width: 40%;
}

.input-fields {
  margin: 0 auto;
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  color: #66FCF1;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #66FCF1;
  border-radius: 3px;

}

.contact-form textarea {
  resize: vertical;
  height: 150px;
}

.contact-form input[type="submit"] {
  background-color: #66FCF1;
  color: #0B0C10;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

#contact-logo {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.contact-form input[type="submit"]:hover {
  background-color: #45a29e;
}

#name, #email, #subject, #message {
  margin-bottom: 5%;
}

#submit-btn {
  display: flex;
  align-items: flex-end;
  margin-top: 0;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #66FCF1;
  background-color: #66FCF1;
  color: #0B0C10;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

#submit-btn:hover {
  background-color: #0B0C10;
  color: #66FCF1;
}

.submit-button-container {
  display: flex;
  justify-content: flex-end;
}

#case-container img {
  border-radius: 5px;
  height: 300px;
  margin: 0 auto;
  min-width: 300px;
}


@media screen and (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .profile__portrait {
    margin-right: 0; /* Remove the margin */
    margin-top: 10%;
    margin-bottom: 10%; /* Add margin bottom if needed */
  }

  
  #about-container{
    min-height: 100vh;
    position: relative;
  }

  .spacer {
    height: 15vh
  }
  
}

@media screen and (max-width: 640px) {
  #contact {
    flex-direction: column;
    align-items: center;  
  }

  .contact-form {
    max-width: 80%;
  }

}

@media screen and (max-width: 560px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .profile__portrait {
    margin-right: 0; /* Remove the margin */
    margin-top: 10%;
    margin-bottom: 10%; /* Add margin bottom if needed */
  }

  #contact {
    flex-direction: column;
    align-items: center;  
  }

  .contact-form {
    max-width: 80%;
  }

  #about {
    max-width: 80%;
  }

}